<h3>Create a mix</h3>
<%= render 'form' %>

<% @mixes.each do |mix| %>
  <% next if mix.new_record? %>
  <%= mix.name %>
  <%= mix.description %>
  <%= link_to 'Show Mix', mix %>
  <%= link_to 'Delete', mix, method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>
<% end %>
