<h3>Create a mix</h3>
<%= render 'form' %>

<% @mixes.each do |mix| %>
  <%= mix.name %>
  <%= mix.description %>
  <%= link_to 'Show Mix', mix_path(mix) %>
  <td><%= link_to 'Delete', mix, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <br>
<% end %>
